<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

    <!-- NAVBAR -->

<Header>
    <div class="title">
    <p class="head">Clocki'O Fit</p>
    <ul>
          <li> <a href="{{'home'}}">Home</a></li>
          <li> <a href="{{'about'}}">About us</a></li>
          <li> <a href="{{'review'}}">Review</a></li>
    </ul>
</Header>

    <!-- CONTENT  -->

<main>
    <div class="content">
        <img src=" alt="">
    </div>

       <h1>Discover Your Perfect Look, Effortlessly</h1>

       <p> Welcome to your personal outfit suggester! Say goodbye to wardrobe dilemmas and hello to confidence. Whether you're dressing for work, a casual day out, or a special occasion, we tailor recommendations to your unique preferences, style, and needs.
        With just a few clicks, you’ll unlock curated outfit ideas that match your vibe and the occasion. No more overthinking – just effortlessly stylish options, personalized for you. </p>
       <p>  ● Personalized Recommendations <br>
            ● Style That Matches Your Vibe <br>
         ● Save Time, Look Amazing <br>
        <br>
        Get started today and elevate your style game!
        </p>
        <h3> <a href="homepage"> [Start Now] </a> </h3>
</main>

    <!-- FOOTER  -->

<footer>
    <h4>© 2024 All rights reserved.</h4>
</footer>
    
</body>
</html>